<div class="container-fluid">
  <div class="row justify-content-center">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000"
      data-pause="false">
      <div class="carousel-inner">
        {% assign first_image = true %}
        {% for item in site.data.index-carousel %}
          {% if first_image %}
            <div class="row text-center carousel-item active">
              <img class="center-block w-90" src="{{ item.link }}" alt="{{ item.name }}">
            </div>
            {% assign first_image = false %}
          {% else %}
            <div class="row text-center carousel-item">
              <img class="center-block w-90" src="{{ item.link }}" alt="{{ item.name }}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span><i class="fas fa-3x fa-chevron-circle-left"></i></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span><i class="fas fa-3x fa-chevron-circle-right"></i></span>
      </a>
    </div>
  </div>
</div>
